<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <NewsConfig>
        <filters>atheis</filters>
        <filters>religion</filters>
        <filters>evolution</filters>
        <filters>muslim</filters>
        <filters>christian</filters>
        <id>Atheism News</id>
        <rssFeedUrl>http://www.rawstory.com/rs/feed/</rssFeedUrl>
        <subreddit>atheism</subreddit>
    </NewsConfig>
</config>
